@page "/"

<PageTitle>Index</PageTitle>

<h1>Corey's Knick Knacks</h1>

<br /><br />
<h4>About Us</h4>

Corey's Knick Knacks is THE place where all the cool kids but their cool kid stuff. No nerds allowed here.

<br /><br />

<img src="/Pictures/coolsnoopy.jpg" alt="Joe Cool being cool"/>
