@page "/"

<PageTitle>Index</PageTitle>

<div class="container d-flex align-items-center justify-content-center">
    <h1>Corey's Knick Knacks</h1>
</div>

<br /><br />

<h4>About Us</h4>
Corey's Knick Knacks is THE place where all the cool kids buy their cool kid stuff. No nerds allowed here.

<br /><br />

<div class="container d-flex align-items-center justify-content-center">
    <img src="/Pictures/coolsnoopy.jpg" alt="Joe Cool being cool" />
</div>
